{% extends 'base.html' %}
{% block content %}
<div class="row">
    {% for subscription in subscriptions %}
    <div class="col-md-4 bg-dark">
        <div class="card mb-4 mt-4" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ subscription.name }}</h5>
                <p class="card-text">{{ subscription.price }} تومان</p>
                <a href="#" class="btn btn-primary mt-5">خرید</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
