{% extends 'base.html' %}
{% block content %}
    <div class="custom-breadcrumb">
        <div class="container d-flex justify-content-between align-items-baseline">
            <nav>
                <h3>تمام دسته بندی ها</h3>
                <a href="{% url 'home:home' %}">ای ان وی</a> <span>/</span> <a href="{% url 'post:categories' %}"> دسته بندی ها</a> <span> / {{ post_category_name}}</span>
            </nav>
        </div>
    </div>
    <div class="row">
        {% for post in posts %}
            <div class="col-sm-12 col-md-6 col-lg-4 mt-4">
                <a href="{% url 'post:detail' post.id %}">
                <div class="card">
                <img class="cart-img" src="{{ post.image.url }}" alt="آموزش {{ post.title }}" style= margin-right:120px;width:210px;height:300px;object-fit:none;display:flex;justify-content:center;align-items:center;">
                    <div class="card-body">
                        <h4 class="index-course-slider">
                            <a class="d-block" href="{{ post.get_absolute_url }} ">{{ post.title }}</a>
                        </h4>
                        <div class="card-details d-flex justify-content-between align-items-center">
                            <div class="custom-btn-course-status">
                                {% if post.price is not None %}
                                    {{ post.price }} تومان
                                {% else %}
                                    رایگان
                                {% endif %}
                            </div>
                            <span>عرفان کاظمیان</span>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-between align-items-center">
                        <span>دسته بندی: {{ post.category.name }}</span>
                        <span>تاریخ ایجاد: {{ post.created_at|date:"d - m - Y" }}</span>

                    </div>
                </div>
                </a>
            </div>
            {% empty %}
                <h3>پستی با این نام یافت نشد!</h3>
        {% endfor %}
    </div>
{% endblock %}
